# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
frontend/.next/
frontend/out/

# production
frontend/build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
frontend/.env

# vercel
.vercel

# opennext / cloudflare
frontend/.open-next
.wrangler/

# typescript
*.tsbuildinfo
*.tsbuildstate
frontend/next-env.d.ts

# django / python
backend/.venv/
backend/db.sqlite3
**/__pycache__/

# editor
.idea/
.vscode/
*.swp
*.swo
